html, body {
    margin: 0;
    height: 100%;
  }

body
{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#Vida_bar
{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 4%;
  left: 75%;
  height: 35px;
  width: 350px;
  -webkit-appearance: none;
  border-radius: 5px;
}

#Vida_bar::-webkit-progress-bar
{
  background-color: aliceblue;
  border-radius: 20px;
}

#Vida_bar::-webkit-progress-value {
  background-color: rgb(0, 187, 84);
  border-radius: 20px;
}

#Exp_bar
{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8.5%;
  left: 75.8%;
  -webkit-appearance: none;
  height: 10px;
}

#Exp_bar::-webkit-progress-bar
{
  background-color: aliceblue;
  border-radius: 5px;
}

#Exp_bar::-webkit-progress-value {
  background-color: rgb(0, 157, 255);
  border-radius: 5px;
}

#Vida_value
{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 1%;
  left: 71%;
  font-size: 25px;
  font-family: Permanent Marker;
  border: 7px solid rgb(0, 187, 84);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: aliceblue;
}

#Vida_value label
{
  position: absolute;
  left: 11%;
  top:20%;
}

#movement
{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 1%;
  font-family: Permanent Marker;
  font-size: 22px;
}

#AttackH
{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 1%;
  font-family: Permanent Marker;
  font-size: 22px;
}

#MenuH
{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 60%;
  left: 1%;
  font-family: Permanent Marker;
  font-size: 22px;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

#loading-text
  {
    font-family: Permanent Marker;
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 15px;
    right: 15px;
    color: white;
  }

  #loading-text.fade-out
  {
    opacity: 0;
    display: none;
  }

  #loading-screen {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
     transition: 1s opacity;
  }
  
  #loading-screen.fade-out {
      opacity: 0;
  }
  
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #7ad4e9;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #55afd3;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #0091ff;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }