.modal_perfil
{
    border: 0px;
    border-radius: 15px;
    width: 30%;
    height: 45%;
}

.user
{
    font-family: Permanent Marker;
    font-size: 40px;
    position: absolute;
    bottom: 70%;
    left: 39%;
}

.namePerfil
{
    width: 350px;
    height: 40px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    font-family: Permanent Marker;
    font-size: 15px;
    border: 0px;
    position: relative;
    top: 23%;
}

.imgP
{
    border-radius: 50%;
    border: 0px;
    position: relative;
    top:27%;
}

.imageP
{
    width: 20px;
    height: 60px;
    position: relative;
    top:28%;
    right: 9%;
}

.filePerfil
{
    display: none;
}

.filePerfilL
{
    font-family: Permanent Marker;
    position: relative;
    top: 25%;
    background-color: rgb(94, 196, 255);
    border-radius: 10px;
    padding: 10px;
}

.guardarPerfil
{
    border-radius: 10px;
    background-color: rgb(94, 196, 255);
    font-family: Permanent Marker;
    border: 0px;
    width: 90px;
    height: 50px;
    position: relative;
    top: 20%;
    font-size: 18px;
}

.SalirPerfil
{
    border-radius: 10px;
    background-color: rgb(94, 196, 255);
    font-family: Permanent Marker;
    border: 0px;
    height: 50px;
    width: 90px;
    position: relative;
    top: 20%;
    font-size: 18px;
}

.SelectGame
{
    border-radius: 10px;
    background-color: rgb(94, 196, 255);
    font-family: Permanent Marker;
    border: 0px;
    height: 50px;
    width: 190px;
    position: relative;
    top: 30%;
    font-size: 18px;
}

.SelectGameText
{
    font-family: Permanent Marker;
    font-size: 35px;
    position: absolute;
    bottom: 70%;
    left: 33%;
}

.Logout
{
    border-radius: 50%;
    background-color: rgb(94, 196, 255);
    font-family: Permanent Marker;
    border: 0px;
    height: 50px;
    width: 50px;
    position: relative;
    top: -45%;
    left: 45%;
    font-size: 18px;
}

.guardarPerfil:hover, .SalirPerfil:hover, .filePerfilL:hover, .SelectGame:hover
{
    background-color: rgb(158, 219, 255);
}

.Logout:hover
{
    background-color: rgb(255, 158, 158);
}